.btn1{
    background-color: #bc6ff1;
    color: white;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.btn1:hover{
    background-color: #bc6ff1;
    color: white;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}